* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

*, *:before, *:before {
  box-sizing: border-box;
}

:root {
  --primary-color: #023B72;
  --secondary-color: #AAAAAA;
  --text-color:#4A4A4A;
}

body {
  background: #f2f2f2;
  background-size: cover;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background-color: white;
  padding: 1em;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 100;
}
.navbar nav.menu-btn {
  display: block;
}
.navbar nav {
  display: none;
  position: fixed;
  z-index: 5;
  width: 60%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: white;
  padding: 1em;
}
.navbar nav ul {
  list-style: none;
}
.navbar nav ul.primary-nav {
  margin-top: 5em;
}
.navbar nav li a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 2.5em;
  font-size: 1.3em;
  text-align: right;
}
.navbar nav li a:hover {
  font-weight: bold;
}
.navbar nav .secondary-nav {
  margin-top: 5em;
}
.navbar .mobile-menu-exit {
  float: right;
  margin: 0.5em;
}
.navbar .container {
  display: flex;
  place-content: space-between;
  margin: 0;
}
.navbar .mobile-menu {
  cursor: pointer;
  position: relative;
  top: -5px;
}
.navbar .img-logo {
  position: relative;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero {
  width: 100%;
  position: relative;
  top: 70px;
}
.hero .container {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 122px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.hero .img-hero {
  position: absolute;
  width: 100%;
  height: 122px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  opacity: 80%;
}
.hero h1 {
  z-index: 2;
  position: absolute;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 8px;
  color: white;
  text-shadow: 4px 6px 11px black;
  display: flex;
  top: 30%;
}
.hero p {
  z-index: 2;
  position: relative;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 8px;
  color: white;
  text-shadow: 4px 6px 11px black;
  left: 50%;
  top: 60%;
}
.hero .text-hero {
  background-color: none;
  height: 122px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70%;
}

.intro-section {
  background-color: var(--secondary-color);
  width: 100%;
  position: relative;
  top: 82px;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 4px 8px #00000016;
}
.intro-section h1 {
  position: relative;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  text-align: left;
  top: -15px;
}
.intro-section p {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0px;
  color: white;
  text-align: left;
}

.bottom-nav {
  background-color: white;
  width: 100%;
  position: relative;
  padding: 2em;
  border: 1px solid #707070;
  margin-top: 4em;
}
.bottom-nav ul {
  list-style-type: none;
}
.bottom-nav a {
  -webkit-text-decoration: line;
          text-decoration: line;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 550;
}
.bottom-nav li {
  padding: 7px;
}
.bottom-nav .sub-bottom-menu {
  padding-left: 30px;
}
.bottom-nav .bottom-secondary-nav .riga1, .bottom-nav .bottom-secondary-nav .riga2, .bottom-nav .bottom-secondary-nav .riga3, .bottom-nav .bottom-secondary-nav .riga4 {
  display: flex;
  margin: 1em;
}

.footer {
  text-align: center;
  font-size: 9px;
  color: #000;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: var(--text-color);
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
    padding: 0;
  }
  .navbar nav ul.secondary-nav {
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */