* {margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 0;
}

*, *:before, *:before {
	box-sizing: border-box;
}

:root {
    --primary-color: #023B72;
    --secondary-color: #AAAAAA;
    --text-color:#4A4A4A;
}

body {
    background: #f2f2f2;
    background-size: cover;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

.navbar {
    box-shadow: 4px 6px 11px rgba(0, 0, 0, 0.15);
    background-color: white;
    padding: 1em;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
    

        nav.menu-btn{
            display: block;
        }
    
    nav {
        display: none;
        position: fixed;
        z-index: 5;
        width: 60%;
        height: 100%;
        right: 0;
        top: 0;
        background-color: white;
        padding: 1em;

        ul {
            list-style: none;
        }

        ul.primary-nav {
            margin-top: 5em;
            
        }

        li {
            a {
            color: var(--text-color);
            text-decoration: none;
            display: block;
            padding: 1.2em;
            font-size: 1.3em;
            text-align: right;

                &:hover {
                    font-weight: bold;
                }
            }
        }

        .secondary-nav {
            margin-top: 2.5em;
        }


      
    }
    
    .mobile-menu-exit {
        float: right;
        margin: .5em;
    }

    .container {
        display: flex;
        place-content: space-between;
        margin: 0;
        background-color:none;
            
    }
    .mobile-menu {
        cursor: pointer;
        position: relative;
        top: -5px;
        padding-right: 15px;
      
    }
    .img-logo {
        position: relative;
        height: 40px;
        padding-left: 15px;
       
        object-fit: contain;
       
      
    }
   
    
}

.wide, .wider{
    display: none;
}



#storyl, #storyr {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 2rem;
    padding-left: 2rem;
    
    .text, .text50{
        h1{
            font-weight: normal;
            font-size: 30px;
            margin-bottom: 30px;
        }
        h2{
            font-weight: normal;
            font-size: 20px;
        }

        p {
            font-size: 18px;
        }
    }

    img {
        display: none;
    }
}





.bottom-nav{
    background-color: white;
    width: 100%;
    position: relative;

    

    padding: 2em;
    border: 1px solid #707070;
    margin-top: -20px;
    
    ul {
        list-style-type: none;
    }

    a{
        text-decoration: line;
        color: var(--text-color);
        font-size: 18px;
        font-weight: 550;
    }

    li {
        padding: 7px;
    }

    .sub-bottom-menu{
        padding-left: 30px;
    }
    

    .bottom-secondary-nav {
        padding-left: 6px;

        .riga1, .riga2, .riga3, .riga4 {
            display: flex;
            margin: 1em;
        }
        ul {
            list-style: none;
        }
        li {
            padding-left: 0em;
            list-style: none;
        }

        img {
            margin-left: 0;
        }

        a {
            
            color: var(--text-color);
        }
        .indirizzo, .telefono, .mail, .pec {
            a {
                text-decoration: none;
                font-weight: normal;
            }
        }

        .indirizzo, .telefono, .mail, .pec {
            margin-left: 1.5rem;
            
            
        } 
    }


}

.footer {
    text-align: center;
    font-size: 9px;
    color: #000;
}




@media only screen and (min-width: 768px) {

    .mobile-menu-exit, .mobile-menu {
        display: none;
    }

    .img-logo {
        position: flex;  
        object-fit: cover;
        margin-top: .8em;
        margin-left: 70px;
        //background-color: violet;
    }

    .navbar{
        height: auto;
        padding: unset;
        position: absolute;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 150px auto;
        justify-content: unset;
 
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }
        ul.primary-nav {
            margin-top: 0;           
        }

        ul.secondary-nav {
            margin: 0 ;
            margin-right: 70px;
            
        }

        li a {
            font-size: 1em;

           

                &:hover {
                    font-weight: normal;
                    background-color: #f1f1f1;
                }
        }

        
    }


    #storyl, #storyr {
        display: grid inline-grid;
        justify-content: start;
        column-gap: 50px;
        background-color: white;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 2rem;
        padding-left: 2rem;
        
        .text{
            h1{
                position: relative;
                font-weight: normal;
                font-size: 30px;
                margin-bottom: 30px;
                justify-content: center;
               
            }
            
    
            p {
                font-size: 18px;
            }
        }
        img {
            display: block;
            height: 250px;
            align-self: center;
            
            
        }
    }
    
 

    .bottom-nav{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;


       li {
        padding: 5px;
        }

        .bottom-secondary-nav {
        
        

            .riga1, .riga2, .riga3, .riga4 {
                display: flex;
                margin: 2em;
                
                
             }
            
        }

        

    }

}

@media only screen and (min-width: 1080px) {

    .navbar{

        height: 101px;

        .container{
            grid-template-columns: 190px auto;
        }


        .img-logo {
            margin: unset;
            height: 65px;
            padding: unset;
            position: absolute;
            left: 70px;
            top: 18px;
        }

       

        nav li a {
            font-size: 26px;
            position: relative;
            top: 0px;
           
        }

    }


    .wide{
        display: block;
    }


    #storyl, #storyr {
        
        display: grid inline-grid;
        justify-content: start;
        column-gap: 60px;
        background-color: white;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 2rem;
        padding-left: 2rem;
        
        .text{
            h1{
                position: relative;
                font-weight: normal;
                font-size: 40px;
                margin-bottom: 30px;
                justify-content: center;
               
            }

            h2{
                font-size: 26px;
            }
    
            p {
                font-size: 24px;
            }
           
        }
        img {
            display: block;
            height: 300px;
            align-self: center;
            
            
        }
    }
    



    .bottom-nav {
        font-size: 20px;

        a {
            font-size: 20px;
        }
    }


}

@media only screen and (min-width: 1600px) {

    .navbar{

        height: 130px;

        .container{
            grid-template-columns: 320px auto;
        }


        .img-logo {
            margin: unset;
            height: 94px;
            padding: unset;
            position: absolute;
            left: 100px;
            top: 18px;
        }

       

        nav li a {
            font-size: 33px;
            position: relative;
            top: 0px;
           
        }

    }

    .wider{
        display: block;
    }

   
    #storyl, #storyr {
        img{
            height: 400px;
            margin-top: 100px;
            margin-bottom: 100px;
        }

      .text {
          
          h2{
                font-size: 35px;
            }
      } 
    }

    .bottom-nav {
        font-size: 30px;

        a {
            font-size: 30px;
        }
    }


}